@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gray-0: 0 0% 100%;
    /* #ffffff */
    --gray-50: 240 4% 95%;
    /* #f3f3f4 */
    --gray-100: 240 4% 91%;
    /* #e7e7e9 */
    --gray-150: 240 6% 87%;
    /* #dbdbdf */
    --gray-200: 240 7% 82%;
    /* #ceced4 */
    --gray-250: 240 6% 77%;
    /* #c2c2c9 */
    --gray-300: 240 6% 73%;
    /* #b6b6be */
    --gray-350: 240 6% 68%;
    /* #aaaab3 */
    --gray-400: 240 6% 64%;
    /* #9e9ea9 */
    --gray-450: 240 6% 60%;
    /* #92929e */
    --gray-500: 240 6% 55%;
    /* #858593 */
    --gray-600: 240 6% 50%;
    /* #797988 */
    --gray-650: 240 6% 46%;
    /* #6e6e7c */
    --gray-700: 240 6% 41%;
    /* #636370 */
    --gray-750: 240 6% 37%;
    /* #595964 */
    --gray-800: 240 6% 33%;
    /* #4e4e58 */
    --gray-850: 240 6% 28%;
    /* #43434c */
    --gray-900: 240 7% 24%;
    /* #383840 */
    --gray-950: 240 5% 19%;
    /* #2e2e33 */
    --gray-1000: 240 6% 10%;
    /* #18181b */

    --nord-red: 354 42% 56%;
    /* #be6069 */
    --nord-orange: 14 51% 63%;
    /* #d18771 */
    --nord-yellow: 40 71% 73%;
    /* #ebca89 */
    --nord-green: 92 28% 65%;
    /* #a4bf8d */
    --nord-blue-green: 179 25% 65%;
    /* #8fbcbb */
    --nord-light-blue: 193 43% 67%;
    /* #87bfcf */
    --nord-blue: 210 34% 63%;
    /* #81a1c1 */
    --nord-dark-blue: 213 32% 52%;
    /* #5d81ac */
    --nord-purple: 311 20% 63%;
    /* #b48ead */

    --newspaper-light: 0 0% 45%;
    --newspaper-muted: 180 1% 30%;
    --newspaper-gray: 0 0% 60%;

    --destructive: var(--nord-red);
    --success: var(--nord-green);
    --warn: var(--nord-yellow);

    --ring: var(--primary);
    --radius: 0.35rem;
  }

  .light {
    --primary: var(--gray-950);
    --secondary: var(--gray-500);

    --background: 0 0% 100%;
    --foreground: var(--newspaper-light);
    --foreground-pop: var(--gray-900);
    --foreground-selected: var(--gray-100);

    --muted: var(--gray-100);
    --muted-foreground: var(--gray-300);

    --border: var(--gray-100);
    --input: var(--gray-100);

    --card: var(--gray-0);
    --card-foreground: var(--gray-900);
    --card-accent: var(--gray-50);
    --card-selected: var(--gray-150);

    --primary-foreground: var(--background);
    --secondary-foreground: var(--background);
    --destructive-foreground: var(--background);
    --success-foreground: var(--background);
    --warn-foreground: var(--background);

    --selected: var(--gray-50);
    --selected-foreground: var(--gray-900);

    --accent: var(--gray-100);
    --accent-foreground: var(--gray-900);
  }

  .dark {
    --primary: var(--gray-200);
    --secondary: var(--gray-400);

    --background: var(--gray-1000);
    --foreground: var(--newspaper-gray);
    --foreground-pop: var(--gray-200);
    --foreground-selected: var(--gray-800);

    --muted: var(--gray-950);
    --muted-foreground: var(--newspaper-muted);

    --accent: var(--gray-900);
    --accent-foreground: var(--gray-100);

    --border: var(--gray-900);
    --input: var(--gray-700);

    --card: var(--background);
    --card-foreground: var(--gray-100);
    --card-accent: var(--gray-850);
    --card-selected: var(--gray-700);

    --primary-foreground: var(--background);
    --secondary-foreground: var(--background);
    --destructive-foreground: var(--background);
    --success-foreground: var(--background);
    --warn-foreground: var(--background);

    --selected: var(--gray-700);
    --selected-foreground: var(--gray-100);
  }

  ::selection {
    background: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute inline-flex h-8 w-8 items-center justify-center rounded-full bg-muted text-center -indent-px text-base font-medium;
    @apply ml-[-41px];
    content: counter(step);
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}